body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    a, a:link, a:visited {
        text-decoration: none;
        color: #FE805D;
        &:hover{
            color: black;
        }
    }
    .title-all{
        font-size: 45px;
        color: #FE805D;
    }
    display: flex;
    flex-direction: column;
}
header{
    background-color: #17161c;
    hr{
        color: white;
        width: 92%;
    }
    nav{
        display: flex;
        gap: 25px;
        padding: 10px 60px;
        a, a:link, a:visited {
            color: white;
        }
     
        
        .author-main{
            display: flex;
            padding: 20px;
            justify-content: flex-start;
            flex-grow: 1;
            font-size: 28px;
            color: white;
            a{
                &:hover{
                    color: white;
                }  
            }
             
        }

        .nav-block{
            display: flex;
            padding: 20px;
            justify-content: flex-end;
            flex-grow: 4;
            gap: 35px;

             div{
                padding: 10px;
                font-size: 14px;
                a{
                    &:hover{
                        color: #FE805D;
                    }
                }
            }
        }
      
    }
    .profile-pic-position{
        display: grid;
        grid-template-columns: 238px 2fr;
        grid-auto-rows: minmax(238px, auto);
        position: relative;
    }
    .profile-big{
        
        img{
            width: 238px;
            object-fit: cover;
            position: absolute;
            top: 70px;
            left: 450px;
        }
    }
    .name-big{
        display: flex;
        font-size: 85px;
        color: #FE805D;
        justify-content: center;
        padding: 50px 30px 30px 30px;
    }
    span{
        font-size: 23px;
        font-family: sans;
        color: white;
        display: flex;
        justify-content: center;
        
    }
}

main{
    
    .icon1{
        display: inline-block;
        background-color: white;
        border-radius: 50px;
        padding: 0.5em 0.6em;
        width: 15px;
        height: 15px;
        text-align: center;
    }
    
    .icon-all{
        position: fixed;
        left: 20px;
        top: 50vh;
        display: flex;
        flex-direction: column;
        gap: 15px;
        z-index: 1;
    }
    .btn-all {
        cursor: pointer;
        color: #FE805D;
        padding: 10px 30px;
        background-color: transparent;
        border-radius: 30px;
        border: 1px solid #FE805D;
        font-size: 15px;
        margin: 10px;
        
        &:hover{
            background-color: #FE805D;
            color: black;
        }
        
    }

    .new-release{
        display: flex;
        flex-direction: column;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./images/background.png);
        //background-image: url(./images/background.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        align-items: center;
       
        
        .book-box{
            display: flex;
            background-color: rgb(23, 21, 27, 0.8);
            
            width: 974px;
            height: 605px;
            padding: 15px;
            //TODO change margin
            margin-top: 200px;
            margin-bottom: 100px;
            .box-text{
                padding: 20px;
                color: white;
               
                .order-text{
                    font-size: 23px;
                }
            }
            .about-release{
                width: 65%;

                p{
                    line-height: 29px;
                    font-size: 17px;
                    text-align: left;
                }
            }
            
            .img-cover{
                img{
                    width: 385px;
                    object-fit: cover;
                    
                }
            }
            
        }
        .page{
            margin: 50px;
            padding: 50px;
            background-color: rgb(23, 21, 27, 0.8);
        }
        .book-box-page{
            display: flex;
            width: 974px;
            height: auto;
            padding: 30px;
            border-bottom: 1px solid grey;
            
            &:last-child{
                border-bottom: none;
            }
            hr{
                width: 330px;
                margin-left: 0;
                color: white;
            }
            .box-text-page{
                padding: 20px;
                color: white;
               
                p{
                    line-height: 1.7em;
                    font-size: 17px;
                    text-align: left;
                }
                .order-text{
                    font-size: 23px;
                }
            }
            .about-release-page{
                width: 55%;
                padding-bottom: 25px;
            }
            .img-cover-page{
                img{
                    width: 305px;
                    object-fit: cover;
                }
            }
        }
        .news-box{
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            p{
                color: white;
            }
            
            .news-post{
                display: flex;
                background-color: #17161c;
            }
            .news-img{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .news-block{
                display: flex;
                flex-direction: column;               
                width: 400px;
                margin: 15px;
            }
            
            .block-header{
                display: flex;
                gap: 10px;
                
                .dot-icon{
                    display: flex;
                    justify-content: flex-end;
                    flex-grow: 1;
                    color: white;
                    
                }
                .fa-circle-user{
                    color: white;
                }
                 
                p{
                    margin: 0;
                    font-size: 11px;
                    color: white;
                }
            }
            .block-text{
                h3{
                    color: #FE805D;
                    font-size: 24px;
                }
                p{
                    font-size: 15px;
                    line-height: 20px;
                    color: white;
                    padding-bottom: 80px;
                    &:hover{
                        color: #FE805D;
                    }
                }
            }
            .block-footer{
                display: flex;
                color: white;
                border-top: 1px solid white;
                font-size: 15px;
                
                
                .heart-icon{
                   display: flex;
                   flex: 1;
                   justify-content: flex-end; 
                }

            }
        }
        .about-block{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px;
            margin: 50px;
            gap: 40px;
            background-color: rgb(23, 21, 27, 0.8);
            width: 1000px;
           
            
        }
        .about-box{
            width: 85%;
            display: flex;
            gap: 50px;
            
            .about-img{
                padding-top: 30px;
                img{
                    width: 250px;
                }
            }
            
            .about-text{
                
                color: white;
                display: flex;
                flex-direction: column;
                padding-right: 15px;
                line-height: 27px;
            }
        }
        .contact-block{
            background-color: rgb(23, 21, 27, 0.8);
            width: 980px;
            height: 898px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            margin: 50px;
           
            .title-all{
                padding-top: 50px;
            }
            p{
                color: white;
                text-align: center;
            }
        }
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 3fr 1fr 3fr 1fr 6fr;
            row-gap: 10px;
           
            .item{
                color: white;
                background-color: transparent;
            }
            .item-j{
                grid-row: 6/ span 2;
                grid-column: 1 / span 2;
                resize: none;
                font-size: 15px;
                padding: 10px;
            }
            input, textarea{
                border: 2px solid white;
                &:focus {
                    outline: 0;
                }
                &:hover{
                    background-color: #ffbfae;
                    border: 2px solid #FE805D;
                    color: #FE805D;
                }
            }

        }
        .btn-all{
            background-color: #FE805D;
            color: black;
            padding: 10px 60px;
            &:hover{
                background-color: transparent;
                color: #FE805D;
            }
        }
    }
    .reviews{
        background-color: #1f222f;
        color: #FE805D;
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-bottom: 100px;
        
        
         .review-block{
            display: flex;
            justify-content: center;
            gap: 30px;
         }   

        .review-col {
            margin: 10px;
            display: flex;
            flex-flow: column;
            padding: 10px;
            flex: 0 0 18%;
            
            
            .review-text{
                color: white;
                font-size: 17px;
                line-height: 29px;
                
            }
            .review-comment{
                font-size: 14px;
                font-weight: 600;
                width: 55%;
                flex-grow: 2;
                line-height: 20px ;
                align-self: center;
                padding-bottom: 20px;
                border-bottom: 1px solid #757575;
                
            }
        }
    }


    .appearances{
        background-color: #17161c;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        // padding: 30px 20px;
        h2{
            margin-bottom: 0px;
        }
       .appearance-text{
        color: white;
        font-size: 17px;
        width: 20%;
        line-height: 28px;
       }
       

        .appearance-box{
            border: 1px solid white;
            display: flex;
            flex-direction: column;
            width: 50%;
            padding-bottom: 40px;
            align-items: center;
            p{
                font-size: 23px;
                padding-top: 60px;
                line-height: 39px;
                color: white;
            }
            .appear-text{
                width: 75%; 
            }
           
            .btn-all{
                padding: 8px 60px ;
            }
            

        }
    }
    .about-small{
        text-align: center;
        background-color: #1f222f;
        width: 90%;
        padding-bottom: 150px;

        .btn-all{
            margin: 20px;
            padding: 10px 40px;
        }
        
    }
    .profile-pic-small{
        img{
            border-radius: 50%;
        }
    }
    .about-short{
        width: 25%;
        margin: 0 auto;
        font-size: 18px;
        line-height: 28px;
        color: white;
    }
 
}
footer{
    background-color: #FE805D;
    text-align: center;
   
    width: 100%;
    
}