body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
body a, body a:link, body a:visited {
  text-decoration: none;
  color: #FE805D;
}
body a:hover, body a:link:hover, body a:visited:hover {
  color: black;
}
body .title-all {
  font-size: 45px;
  color: #FE805D;
}

header {
  background-color: #17161c;
}
header hr {
  color: white;
  width: 92%;
}
header nav {
  display: flex;
  gap: 25px;
  padding: 10px 60px;
}
header nav a, header nav a:link, header nav a:visited {
  color: white;
}
header nav .author-main {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  flex-grow: 1;
  font-size: 28px;
  color: white;
  letter-spacing: 2px;
}
header nav .author-main a:hover {
  color: white;
}
header nav .nav-block {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  flex-grow: 4;
  gap: 35px;
}
header nav .nav-block div {
  padding: 10px;
  font-size: 14px;
}
header nav .nav-block div a:hover {
  color: #FE805D;
}
header .profile-pic-position {
  position: relative;
  display: flex;
  justify-content: center;
  -moz-column-gap: 150px;
       column-gap: 150px;
}
header .profile-pic-position .name-main {
  justify-content: flex-start;
  padding: 50px 0px 0px 0px;
}
header .profile-pic-position .after-name-main {
  justify-content: flex-start;
  padding: 0px 0px 50px 0px;
}
header .profile-big img {
  width: 238px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -340px;
}
header .name-big {
  display: flex;
  font-size: 85px;
  color: #FE805D;
  justify-content: center;
  padding: 50px 30px 50px 30px;
}
header span {
  font-size: 23px;
  font-family: sans;
  color: white;
  display: flex;
  justify-content: center;
}

main .icon1 {
  display: inline-block;
  background-color: white;
  border-radius: 50px;
  padding: 0.5em 0.6em;
  width: 15px;
  height: 15px;
  text-align: center;
}
main .icon-all {
  position: fixed;
  left: 20px;
  top: 50vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;
}
main .btn-all {
  cursor: pointer;
  color: #FE805D;
  padding: 10px 30px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #FE805D;
  font-size: 15px;
  margin: 10px;
}
main .btn-all:hover {
  background-color: #FE805D;
  color: black;
}
main .new-release {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  align-items: center;
}
main .new-release .book-box {
  display: flex;
  background-color: rgba(23, 21, 27, 0.8);
  width: 944px;
  height: 580px;
  padding: 15px;
  margin-top: 200px;
  margin-bottom: 100px;
}
main .new-release .book-box .box-text {
  padding: 20px;
  color: white;
}
main .new-release .book-box .box-text .order-text {
  font-size: 23px;
}
main .new-release .book-box .box-text svg {
  fill: #FE805D;
  margin-left: -35px;
}
main .new-release .book-box .about-release {
  width: 50%;
}
main .new-release .book-box .about-release p {
  line-height: 29px;
  font-size: 17px;
  text-align: left;
}
main .new-release .book-box .img-cover img {
  width: 385px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .new-release .page {
  margin: 50px;
  padding: 50px;
  background-color: rgba(23, 21, 27, 0.8);
}
main .new-release .book-box-page {
  display: flex;
  width: 974px;
  height: auto;
  padding: 30px;
  border-bottom: 1px solid grey;
}
main .new-release .book-box-page:last-child {
  border-bottom: none;
}
main .new-release .book-box-page hr {
  width: 330px;
  margin-left: 0;
  color: white;
}
main .new-release .book-box-page .box-text-page {
  padding: 20px;
  color: white;
}
main .new-release .book-box-page .box-text-page p {
  line-height: 1.7em;
  font-size: 17px;
  text-align: left;
}
main .new-release .book-box-page .box-text-page .order-text {
  font-size: 23px;
}
main .new-release .book-box-page .about-release-page {
  width: 55%;
  padding-bottom: 25px;
}
main .new-release .book-box-page .img-cover-page img {
  width: 305px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .new-release .news-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
main .new-release .news-box p {
  color: white;
}
main .new-release .news-box .news-post {
  display: flex;
  background-color: #17161c;
}
main .new-release .news-box .news-img img {
  width: 100%;
  height: 100%;
}
main .new-release .news-box .news-block {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 15px;
}
main .new-release .news-box .block-header {
  display: flex;
  gap: 10px;
}
main .new-release .news-box .block-header .dot-icon {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  color: white;
}
main .new-release .news-box .block-header .fa-circle-user {
  color: white;
}
main .new-release .news-box .block-header p {
  margin: 0;
  font-size: 11px;
  color: white;
}
main .new-release .news-box .block-text h3 {
  color: #FE805D;
  font-size: 24px;
}
main .new-release .news-box .block-text p {
  font-size: 15px;
  line-height: 20px;
  color: white;
  padding-bottom: 80px;
}
main .new-release .news-box .block-text p:hover {
  color: #FE805D;
}
main .new-release .news-box .block-footer {
  display: flex;
  color: white;
  border-top: 1px solid white;
  font-size: 15px;
}
main .new-release .news-box .block-footer .heart-icon {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
main .new-release .about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 50px;
  gap: 40px;
  background-color: rgba(23, 21, 27, 0.8);
  width: 1000px;
}
main .new-release .about-box {
  width: 85%;
  display: flex;
  gap: 50px;
}
main .new-release .about-box .about-img {
  padding-top: 30px;
}
main .new-release .about-box .about-img img {
  width: 250px;
}
main .new-release .about-box .about-text {
  color: white;
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  line-height: 27px;
}
main .new-release .contact-block {
  background-color: rgba(23, 21, 27, 0.8);
  width: 980px;
  height: 898px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 50px;
}
main .new-release .contact-block .btn-all {
  background-color: #FE805D;
  color: black;
  padding: 10px 60px;
}
main .new-release .contact-block .btn-all:hover {
  background-color: transparent;
  color: #FE805D;
}
main .new-release .contact-block .title-all {
  padding-top: 50px;
}
main .new-release .contact-block p {
  color: white;
  text-align: center;
}
main .new-release form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 3fr 1fr 6fr;
  row-gap: 10px;
}
main .new-release form .item {
  color: white;
  background-color: transparent;
}
main .new-release form .item-j {
  grid-row: 6/span 2;
  grid-column: 1/span 2;
  resize: none;
  font-size: 15px;
  padding: 10px;
}
main .new-release form input, main .new-release form textarea {
  border: 2px solid white;
}
main .new-release form input:focus, main .new-release form textarea:focus {
  outline: 0;
}
main .new-release form input:hover, main .new-release form textarea:hover {
  background-color: #ffbfae;
  border: 2px solid #FE805D;
  color: #FE805D;
}
main .reviews {
  background-color: #1f222f;
  color: #FE805D;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 100px;
  align-items: center;
}
main .reviews svg {
  align-self: flex-end;
  padding-right: 20px;
}
main .reviews .review-block {
  display: flex;
  justify-content: center;
  gap: 30px;
}
main .reviews .review-col {
  margin: 10px;
  display: flex;
  flex-flow: column;
  padding: 10px;
  flex: 0 0 18%;
}
main .reviews .review-col svg {
  fill: #FE805D;
  align-self: center;
}
main .reviews .review-col .review-text {
  color: white;
  font-size: 17px;
  line-height: 29px;
}
main .reviews .review-col .review-comment {
  font-size: 14px;
  font-weight: 600;
  width: 55%;
  flex-grow: 2;
  line-height: 20px;
  align-self: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #757575;
}
main .appearances {
  background-color: #17161c;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
main .appearances h2 {
  padding-top: 30px;
  margin-bottom: 0px;
}
main .appearances .appearance-text {
  color: white;
  font-size: 17px;
  width: 20%;
  line-height: 28px;
}
main .appearances .appearance-box {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 40px;
  align-items: center;
}
main .appearances .appearance-box p {
  font-size: 23px;
  padding-top: 40px;
  line-height: 39px;
  color: white;
}
main .appearances .appearance-box .appear-text {
  width: 55%;
}
main .appearances .appearance-box .btn-all {
  margin-top: 20px;
  padding: 8px 60px;
}
main .about-small {
  text-align: center;
  background-color: #1f222f;
  width: 90%;
  height: 500px;
  padding-bottom: 150px;
  position: relative;
  margin-top: 100px;
}
main .about-small svg {
  margin-left: 900px;
}
main .about-small .btn-all {
  margin: 20px;
  padding: 10px 40px;
}
main .profile-pic-small img {
  border-radius: 50%;
  margin-top: -340px;
}
main .about-small-text {
  padding-top: 100px;
}
main .about-short {
  width: 25%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 28px;
  color: white;
}

footer {
  background-color: #FE805D;
  text-align: center;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */