body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body a, body a:link, body a:visited {
  text-decoration: none;
  color: #FE805D;
}
body a:hover, body a:link:hover, body a:visited:hover {
  color: black;
}
body .title-all {
  font-size: 45px;
  color: #FE805D;
}

header {
  border: 1px solid plum;
  background-color: #17161c;
}
header hr {
  color: white;
  width: 92%;
}
header nav {
  display: flex;
  gap: 25px;
  padding: 10px 60px;
}
header nav a, header nav a:link, header nav a:visited {
  color: white;
}
header nav .author-main {
  display: flex;
  padding: 20px;
  justify-content: flex-start;
  flex-grow: 1;
  font-size: 28px;
}
header nav .nav-block {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  flex-grow: 4;
}
header nav .nav-block div {
  padding: 10px;
  font-size: 14px;
}
header nav .nav-block div a {
  text-decoration: none;
}
header .name-big {
  display: flex;
  font-size: 85px;
  color: #FE805D;
  justify-content: center;
}
header span {
  font-size: 23px;
  font-family: sans;
  color: white;
  display: flex;
  justify-content: center;
}

main {
  border: 1px solid orange;
}
main .icon1 {
  display: inline-block;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 2px #888;
  padding: 0.5em 0.6em;
  width: 15px;
  height: 15px;
  text-align: center;
}
main .icon-all {
  position: fixed;
  left: 20px;
  top: 50vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1;
}
main .btn-all {
  cursor: pointer;
  color: #FE805D;
  padding: 10px;
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #FE805D;
  font-size: 15px;
}
main .btn-all:hover {
  background-color: #FE805D;
  color: black;
}
main .new-release {
  border: 1px solid indigo;
  display: flex;
  flex-direction: column;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  align-items: center;
}
main .new-release .book-box {
  display: flex;
  background-color: rgb(23, 21, 27);
  opacity: 0.8;
  width: 974px;
  height: 605px;
  padding: 15px;
  margin-top: 200px;
}
main .new-release .book-box .box-text {
  padding: 20px;
  color: white;
}
main .new-release .book-box .box-text p {
  line-height: 1.7em;
  font-size: 17px;
  text-align: left;
}
main .new-release .book-box .img-cover img {
  width: 385px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
main .new-release .page {
  margin: 50px;
  padding: 50px;
}
main .new-release .book-box-page {
  display: flex;
  background-color: rgb(23, 21, 27);
  opacity: 0.8;
  width: 974px;
  height: auto;
  padding: 30px;
  border-bottom: 1px solid grey;
}
main .new-release .book-box-page hr {
  width: 60%;
  margin-left: 0;
  color: white;
}
main .new-release .book-box-page .box-text-page {
  padding: 20px;
  color: white;
}
main .new-release .book-box-page .box-text-page p {
  line-height: 1.7em;
  font-size: 17px;
  text-align: left;
}
main .new-release .book-box-page .about-release-page {
  width: 55%;
  padding-bottom: 25px;
}
main .new-release .book-box-page .img-cover-page img {
  width: 305px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .reviews {
  border: 1px solid darkblue;
  background-color: #1f222f;
  color: #FE805D;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
main .reviews .review-block {
  display: flex;
  justify-content: center;
}
main .reviews .review-col {
  margin: 10px;
  border: 1px solid seagreen;
  display: flex;
  flex-flow: column;
  padding: 10px;
  flex: 0 0 15%;
}
main .reviews .review-col .review-text {
  color: white;
  font-size: 17px;
  line-height: 29px;
}
main .reviews .review-col .review-comment {
  font-size: 14px;
  width: 55%;
  flex-grow: 2;
  line-height: 20px;
  align-self: center;
  border-bottom: 1px solid #757575;
}
main .appearances {
  background-color: #17161c;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 40px 20px;
}
main .appearances p {
  color: white;
  font-size: 17px;
}
main .appearances .appearance-box {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding-bottom: 10px;
}
main .appearances .appearance-box p {
  font-size: 23px;
  padding: 40px 80px;
  line-height: 39px;
}
main .appearances .appearance-box .btn-all {
  padding: 8px 50px;
}
main .about-small {
  text-align: center;
  border: 1px solid white;
  background-color: #1f222f;
  width: 80%;
}
main .about-small .btn-all {
  margin: 20px;
  padding: 10px 40px;
}
main .profile-pic-small img {
  border-radius: 50%;
}
main .about-short {
  width: 25%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 28px;
}

footer {
  background-color: #FE805D;
  text-align: center;
  min-height: 40px;
}/*# sourceMappingURL=styles.css.map */